<%- include('overall') %>
<form method="post">
    <h4>Do you agree with the following statements:</h4>

    <% data.forEach((question) => { %>

    <%- include('question', { question }) %>
    <% }) %>

    <div class="box additional">
        <div>
            <h3>Anything to add?</h3>
            <div class="extra-helps">Extra feedback helps</div>
        </div>
        <textarea name="comment-additional" placeholder="Express yourself freely and safely. This will always remain anonymous."></textarea>
    </div>

    <button type="submit" disabled>
        Send
    </button>
</form>