html {
  font-size: 16px; }

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  flex-direction: row;
  display: flex;
  background-color: #125e67; }

h4 {
  color: white; }

.menu {
  top: 0;
  display: flex;
  position: fixed;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #0d4d54; }
  .menu a {
    margin: 0.4rem; }
  .menu a.logo {
    border-radius: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.73rem;
    width: 2.15rem;
    background-color: #2ce6ce; }
    .menu a.logo svg {
      height: 1.33rem;
      width: 1.75rem; }
  .menu a.i svg {
    fill: #1b828e; }
  .menu a.i:hover svg {
    fill: #2ce6ce; }

.container {
  margin-left: 5.55rem;
  max-width: 30rem; }

.scores svg:hover {
  cursor: pointer; }

.scores.selected .state {
  display: flex; }

.scores.selected .items {
  display: none; }

.scores.selecting .state {
  display: none; }

.scores.selecting .items {
  display: block; }

.scores.is-1 .state .is-1 {
  display: flex; }

.scores.is-1 .state .is-2 {
  display: none; }

.scores.is-1 .state .is-3 {
  display: none; }

.scores.is-1 .state .is-4 {
  display: none; }

.scores.is-1 .state .is-5 {
  display: none; }

.scores.is-2 .state .is-1 {
  display: none; }

.scores.is-2 .state .is-2 {
  display: flex; }

.scores.is-2 .state .is-3 {
  display: none; }

.scores.is-2 .state .is-4 {
  display: none; }

.scores.is-2 .state .is-5 {
  display: none; }

.scores.is-3 .state .is-1 {
  display: none; }

.scores.is-3 .state .is-2 {
  display: none; }

.scores.is-3 .state .is-3 {
  display: flex; }

.scores.is-3 .state .is-4 {
  display: none; }

.scores.is-3 .state .is-5 {
  display: none; }

.scores.is-4 .state .is-1 {
  display: none; }

.scores.is-4 .state .is-2 {
  display: none; }

.scores.is-4 .state .is-3 {
  display: none; }

.scores.is-4 .state .is-4 {
  display: flex; }

.scores.is-4 .state .is-5 {
  display: none; }

.scores.is-5 .state .is-1 {
  display: none; }

.scores.is-5 .state .is-2 {
  display: none; }

.scores.is-5 .state .is-3 {
  display: none; }

.scores.is-5 .state .is-4 {
  display: none; }

.scores.is-5 .state .is-5 {
  display: flex; }

.scores .state {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .scores .state .text {
    color: #fff;
    margin-left: 1em; }
    .scores .state .text p:last-child {
      font-size: 0.8rem;
      color: #2ad9c5; }
      .scores .state .text p:last-child strong {
        font-weight: 800; }
  .scores .state .item {
    display: flex;
    align-items: center;
    color: #fff;
    background-color: white;
    border-radius: 50%;
    border: 5px solid white; }
    .scores .state .item p {
      margin-left: 1em; }
  .scores .state span {
    cursor: pointer;
    display: inline-block;
    height: 2em;
    width: 2em;
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3EShape%3C%2Ftitle%3E%3Cpath%20d%3D%22M7.94%207.94L7.27%205.92%203.417%202.067l-1.35%201.35L5.923%207.27l2.017.67zM.28.28a.954.954%200%200%200%200%201.35l.993.992%201.35-1.35L1.628.28a.954.954%200%200%200-1.35%200zm10.97%201.97H5.933l.75.75h4.567v8.25H3V6.683l-.75-.75v5.317c0%20.414.336.75.75.75h8.25a.75.75%200%200%200%20.75-.75V3a.75.75%200%200%200-.75-.75z%22%20fill%3D%22%232CE6CE%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E") no-repeat 50% #0d4d54; }

.scores .items {
  background-color: #0d4d54;
  color: #fff;
  padding: 1.5rem; }
  .scores .items .items-wrapper {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around; }
    .scores .items .items-wrapper .item {
      height: 2rem;
      width: 2rem;
      justify-items: center;
      display: flex; }
      .scores .items .items-wrapper .item:hover svg {
        background-color: white;
        border-radius: 50%;
        border: 3px solid white;
        height: 1.8rem;
        width: 1.8rem; }

.scores.is-1 .items-wrapper .is-1 svg {
  background-color: white;
  border-radius: 50%;
  border: 3px solid white;
  height: 1.8rem;
  width: 1.8rem; }

.scores.is-2 .items-wrapper .is-2 svg {
  background-color: white;
  border-radius: 50%;
  border: 3px solid white;
  height: 1.8rem;
  width: 1.8rem; }

.scores.is-3 .items-wrapper .is-3 svg {
  background-color: white;
  border-radius: 50%;
  border: 3px solid white;
  height: 1.8rem;
  width: 1.8rem; }

.scores.is-4 .items-wrapper .is-4 svg {
  background-color: white;
  border-radius: 50%;
  border: 3px solid white;
  height: 1.8rem;
  width: 1.8rem; }

.scores.is-5 .items-wrapper .is-5 svg {
  background-color: white;
  border-radius: 50%;
  border: 3px solid white;
  height: 1.8rem;
  width: 1.8rem; }

.scores.selected.is-1 .is-1 svg {
  height: 8rem;
  width: 8rem; }

.scores.selected.is-2 .is-2 svg {
  height: 8rem;
  width: 8rem; }

.scores.selected.is-3 .is-3 svg {
  height: 8rem;
  width: 8rem; }

.scores.selected.is-4 .is-4 svg {
  height: 8rem;
  width: 8rem; }

.scores.selected.is-5 .is-5 svg {
  height: 8rem;
  width: 8rem; }

.overall {
  margin-top: 2rem; }

.question .explanation {
  font-size: 0.8em;
  color: #c7c7c7; }

.question .explanation, .question .comment, .question .text, .question .picker {
  margin-top: 1em; }

.question .comment {
  text-align: center; }
  .question .comment a {
    color: #2ce6ce; }

.question .text {
  display: none; }

.question .picker {
  display: flex;
  justify-content: space-between; }

.question .picker.is-1 + div + div, .question .picker.is-2 + div + div, .question .picker.is-3 + div + div {
  display: none; }

.question .picker.is-1 + div + div + div, .question .picker.is-2 + div + div + div, .question .picker.is-3 + div + div + div {
  display: block; }

.question .picker.comment-activated + div + div {
  display: none !important; }

.question .picker.comment-activated + div + div + div {
  display: block !important; }

.question .explanation {
  display: flex;
  justify-content: space-between; }

form button {
  font-size: 2em; }
  form button:after {
    content: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2225%22%20height%3D%2215%22%20viewBox%3D%220%200%2025%2015%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M.25%207.392a1%201%200%200%200%201%201h19.586l-4.292%204.292a1%201%200%201%200%201.414%201.414l6-6a.99.99%200%200%200%20.292-.702v-.004c0-.13-.026-.26-.078-.382a.99.99%200%200%200-.216-.324l-6-6A1%201%200%200%200%2016.542%202.1l4.294%204.292H1.25a1%201%200%200%200-1%201z%22%20fill%3D%22%23DEDEDE%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E"); }

.company {
  color: #fff;
  position: absolute;
  right: 2rem; }

.box {
  margin-bottom: 1rem;
  border-radius: 0.2rem;
  position: relative;
  padding: 1rem;
  background-color: #ffffff; }
  .box:before {
    content: '';
    left: 0;
    margin-left: -8px;
    position: absolute;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid white; }
  .box textarea {
    margin-top: 0.8rem; }
  .box h3 {
    color: #757575; }

.question .picker {
  border: 1px solid #ededed;
  background-color: #f7f7f7;
  border-radius: 1.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row-reverse;
  margin-left: -0.1rem;
  margin-right: -0.1rem; }
  .question .picker .item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 3rem; }
    .question .picker .item svg {
      padding: 0.3rem;
      border-radius: 2rem;
      margin-top: -0.7rem;
      margin-bottom: -0.7rem;
      background-color: transparent; }
    .question .picker .item:hover svg {
      padding: 0.7rem;
      background-color: #1b828e; }
    .question .picker .item.is-1:hover svg {
      background-color: #e95666; }
    .question .picker .item.is-5:hover svg path {
      fill: #ffdc00; }
  .question .picker.is-1 .item.is-1 svg {
    padding: 0.7rem;
    background-color: #e95666; }
  .question .picker:hover div {
    background: transparent !important; }
    .question .picker:hover div svg {
      background-color: transparent !important; }
      .question .picker:hover div svg path {
        fill: #dedede !important; }
  .question .picker .item.is-1:hover {
    background: linear-gradient(90deg, #f98371 50%, transparent 0) !important; }
    .question .picker .item.is-1:hover svg {
      background-color: #1b828e !important; }
    .question .picker .item.is-1:hover ~ div {
      background: linear-gradient(90deg, #f98371 100%, transparent 0) !important; }
      .question .picker .item.is-1:hover ~ div svg {
        background-color: transparent; }
        .question .picker .item.is-1:hover ~ div svg path {
          fill: white !important; }
  .question .picker.is-1 .item.is-1 {
    background: linear-gradient(90deg, #f98371 50%, transparent 0); }
    .question .picker.is-1 .item.is-1 ~ div {
      background: linear-gradient(90deg, #f98371 100%, transparent 0); }
      .question .picker.is-1 .item.is-1 ~ div svg path {
        fill: white; }
    .question .picker.is-1 .item.is-1 svg {
      padding: 0.7rem;
      background-color: #e95666; }
  .question .picker .item.is-2:hover {
    background: linear-gradient(90deg, #f98371 50%, transparent 0) !important; }
    .question .picker .item.is-2:hover svg {
      background-color: #1b828e !important; }
    .question .picker .item.is-2:hover ~ div {
      background: linear-gradient(90deg, #f98371 100%, transparent 0) !important; }
      .question .picker .item.is-2:hover ~ div svg {
        background-color: transparent; }
        .question .picker .item.is-2:hover ~ div svg path {
          fill: white !important; }
  .question .picker.is-2 .item.is-2 {
    background: linear-gradient(90deg, #f98371 50%, transparent 0); }
    .question .picker.is-2 .item.is-2 ~ div {
      background: linear-gradient(90deg, #f98371 100%, transparent 0); }
      .question .picker.is-2 .item.is-2 ~ div svg path {
        fill: white; }
    .question .picker.is-2 .item.is-2 svg {
      padding: 0.7rem;
      background-color: #1b828e; }
  .question .picker .item.is-3:hover {
    background: linear-gradient(90deg, #f7a062 50%, transparent 0) !important; }
    .question .picker .item.is-3:hover svg {
      background-color: #1b828e !important; }
    .question .picker .item.is-3:hover ~ div {
      background: linear-gradient(90deg, #f7a062 100%, transparent 0) !important; }
      .question .picker .item.is-3:hover ~ div svg {
        background-color: transparent; }
        .question .picker .item.is-3:hover ~ div svg path {
          fill: white !important; }
  .question .picker.is-3 .item.is-3 {
    background: linear-gradient(90deg, #f7a062 50%, transparent 0); }
    .question .picker.is-3 .item.is-3 ~ div {
      background: linear-gradient(90deg, #f7a062 100%, transparent 0); }
      .question .picker.is-3 .item.is-3 ~ div svg path {
        fill: white; }
    .question .picker.is-3 .item.is-3 svg {
      padding: 0.7rem;
      background-color: #1b828e; }
  .question .picker .item.is-4:hover {
    background: linear-gradient(90deg, #ffdc00 50%, transparent 0) !important; }
    .question .picker .item.is-4:hover svg {
      background-color: #1b828e !important; }
    .question .picker .item.is-4:hover ~ div {
      background: linear-gradient(90deg, #ffdc00 100%, transparent 0) !important; }
      .question .picker .item.is-4:hover ~ div svg {
        background-color: transparent; }
        .question .picker .item.is-4:hover ~ div svg path {
          fill: white !important; }
  .question .picker.is-4 .item.is-4 {
    background: linear-gradient(90deg, #ffdc00 50%, transparent 0); }
    .question .picker.is-4 .item.is-4 ~ div {
      background: linear-gradient(90deg, #ffdc00 100%, transparent 0); }
      .question .picker.is-4 .item.is-4 ~ div svg path {
        fill: white; }
    .question .picker.is-4 .item.is-4 svg {
      padding: 0.7rem;
      background-color: #1b828e; }
  .question .picker .item.is-5:hover {
    background: linear-gradient(90deg, #ffdc00 100%, transparent 0) !important; }
    .question .picker .item.is-5:hover svg {
      background-color: #1b828e !important; }
    .question .picker .item.is-5:hover ~ div {
      background: linear-gradient(90deg, #ffdc00 100%, transparent 0) !important; }
      .question .picker .item.is-5:hover ~ div svg {
        background-color: transparent; }
        .question .picker .item.is-5:hover ~ div svg path {
          fill: white !important; }
  .question .picker.is-5 .item.is-5 {
    background: linear-gradient(90deg, #ffdc00 100%, transparent 0); }
    .question .picker.is-5 .item.is-5 ~ div {
      background: linear-gradient(90deg, #ffdc00 100%, transparent 0); }
      .question .picker.is-5 .item.is-5 ~ div svg path {
        fill: white; }
    .question .picker.is-5 .item.is-5 svg {
      padding: 0.7rem;
      background-color: #1b828e; }
      .question .picker.is-5 .item.is-5 svg path {
        fill: #ffdc00; }
  .question .picker .item.is-1 {
    border-top-left-radius: 1.3rem;
    border-bottom-left-radius: 1.3rem; }
  .question .picker .item.is-5 {
    border-top-right-radius: 1.3rem;
    border-bottom-right-radius: 1.3rem; }
  .question .picker .item.is-1:hover svg {
    background-color: #e95666 !important; }
  .question .picker .item.is-5:hover svg path {
    fill: #ffdc00 !important; }

.additional {
  background-color: #1b828e; }
  .additional:before {
    border-right: 8px solid #1b828e; }
  .additional > div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
  .additional .extra-helps {
    font-size: 0.8em;
    color: white;
    background-color: #0d4d54;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; }
  .additional h3 {
    color: white; }

h3 {
  font-size: 1.8em;
  padding: 0;
  margin: 0; }

textarea {
  resize: none;
  width: 100%;
  height: 5rem;
  font-size: 1em;
  padding: 1em;
  border: 2px solid #166e78; }
  textarea:focus {
    outline: none !important;
    border: 2px solid #166e78; }
